.container {
    .jawad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2px;
        margin-bottom: 14px;
        div {
            justify-content: center;
            border: 1px solid black;
            p {
                text-align: center;
                margin-top: 125px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                a {
                    color: black;
                }
            }
            a:hover {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
    }
}